body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: #f4f3f3;
}

h1 {
    text-align: center;
    margin-block-end: 0;
    color: #ffffff;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.body-container {
    margin: 10% auto auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
}

.spam {
    color: darkred;
}

.no-spam {
    color: darkblue;
}

.input-field {
    width: 100%;
    height: 50%;
}


.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}